
.visible-scrollbar,
.invisible-scrollbar,
.mostly-customized-scrollbar {
  overflow-y: scroll;
  width: 800px;
  height: 600px;
  /* Keyword values */
  scrollbar-color: unset;
  scrollbar-color: #000077 #bada55;
  
}



body{
  background:#e11d9d;
  width:60vw;
  margin:5vh auto;
  font-family:"Georgia", serif;
}
  
h1{
  font-size:2em
}
  
div{
  opacity:0.9
}
  
a:visited{
  color:#348
}
            